<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.prezpal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PresentationSettings"
            android:label="@string/present_settings_name"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.david.prezpal.MainMenu" />
        </activity>
        <activity
            android:name=".InterviewSettings"
            android:label="@string/interview_settings_name"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.david.prezpal.MainMenu" />
        </activity>
        <activity
            android:name=".HelpInstructions"
            android:label="@string/help_instructions_name"
            android:parentActivityName=".MainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.david.prezpal.MainMenu" />

        </activity>
    </application>

</manifest>